body {
	background-color: #000;
}
p {
	color: #33FF66;
	font-size: 12px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
button {
	background-color: #21A342;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}
button:hover {
	background-color: #29CC52;
}
#top {
	position: relative;
	z-index: 4;
	text-align: center;
}
#container {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	overflow-x: hidden;
}
.lightning {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -5;
}
#frame {
	width: 545px;
	height: 629px;
	background-image: url(../img/frame.png);
	z-index: 3;
	overflow: hidden;
	margin: 100px auto 0;

}
#pic_box {
	position: relative;
	left: 91px;	
	top: 84px;
	width: 367px;
	height: 460px;
	z-index: 1;
	overflow: hidden;
}
.face {
	position: relative;
	left: 0;
	top: 0;
	z-index: 0;
}
#head {
	height: 172px;
}
#eyes {
	height: 79px;
}

#nose {
	height: 86px;
}

#mouth {
	height: 117px;
}

